.button{
    cursor: pointer;
    background-color: var(--c-button-color);
    color: var(--c-primary);
    font-size: 20px;
    outline:none;
    padding: 15px 40px 15px 40px;
    border-radius: 4px;
    width: 100%;
}
.clicked{
    background-color: var(--c-price-color);
    cursor: pointer;
    color: var(--c-primary);
    font-size: 20px;
    outline:none;
    padding: 15px 40px 15px 40px;
    border-radius: 4px;
    width: 100%;
}