.layout{
    position: relative;
    display: flex;
    flex-direction: column;
}
.image{
    position: absolute;
    left: 150px;
    top:70px;
}
.left{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    position: absolute;
    right:100px;
    top:70px;
    gap: calc(5vmin + 20px);

}
.buttons{
    position: absolute;
    right: 200px;
    top:170px;
    display: flex;
    flex-direction: row;
    gap: calc(2vmin + 20px);
}