.details{
    display: flex;
    flex-direction: column;
}
.det{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    background-color: var(--c-background-color);
    width: 400px;
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
}