.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: transparent;
    height: 45px;
    border-bottom: 1px;
    border-color: var(--c-navbar-color);
    border-style: solid;
}
.pilot{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: var(--c-primary);
    column-gap: 30px;
    position: absolute;
    right:100px;
}
.notify{
    position: absolute;
    left: 2px;
    top: 5px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    height: 17px;
    background-color: var(--c-price-color);
    color: var(--c-primary);
    font-size: 11px;
    border: 1px solid var(--c-text-color);
}