
:root{
    --c-primary: #FFFFFF;
    --c-background-color: #E9EAEB;
    --c-navbar-color: #02063F;
    --c-price-color: #12C990;
    --c-button-color: #3852FF;
    --c-header-color: #000;
    --c-text-color: #263238;
    --c-cancel-color: #E63846;
}